# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/
*.lcov

# TypeScript incremental build cache
*.tsbuildinfo

# npm
*.log
*.tgz
.npm

# Environment variables
.env
.env.*
!.env.example

# Editor
.vscode

# local tests
scripts/
